body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #00c78c;
    outline: none;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.success-message {
    color: green;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0 0;
    background-color: #00c78c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #009f70;
}